@import "../../assets/scss/vars";

.createUser {
  background-color: $whiteColor;
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;

  &__title {
    padding: 0 0 15px 0;
  }

  &__body {
    display: grid;
    gap: 10px;
  }

  &__label {
    display: grid;
    grid-template-columns: 180px 1fr;
    gap: 15px;
  }

  &__aboutMe {
    width: 100%;
    border-radius: 5px;
    min-height: 50px;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
  }

  &__btnSubmit {
    margin: 0 15px 0 0;
  }

  &__btnClear{
    height: min-content;
  }
}

@media screen and (max-width: 479px) {
  .createUser {
    &__label{
      grid-template-columns: 1fr;
      gap: 15px;
    }

    &__buttons{
      justify-content: center;
      flex-wrap: wrap;
      box-sizing: border-box;
    }

    &__btnSubmit{
      margin: 0 15px 15px 0;
    }
  }
}