@import '../../../assets/scss/vars';

.account{
  display: flex;
  color: $whiteColor;
  justify-self: right;
  &__fullName{
    margin: 0 15px 0 0;
  }
  &__link{
    color: $whiteColor;
    &:visited{
      color: $whiteColor;
    }
  }
}