// Fonts
$mainFont                : 'Open Sans', Helvetica, Arial, sans-serif;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainFontColor           : rgba(51,51,51,1);
$mainLineHeight          : 18.96px;

// Main colors
$defaultColor            : #2B3245;
$primaryColor            : #FF4874;
$whiteColor              : #ffffff;
$lightColor              : #ECF1F5;