@import "../../assets/scss/vars";

.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;

  &__title {
    margin: 0 0 15px 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    box-sizing: border-box;
    border-radius: 5px;
    background: $whiteColor;
    padding: 25px 15px;
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 15px 0;
  }

  &__errors {
    margin: 5px 0 20px;
  }

  &__error {
    margin: 0 0 10px;

    &:last-child {
      margin: 0;
    }
  }

  &__message {
    text-align: center;
    margin: 0 0 20px;
  }

  &__btnSubmit {
    min-width: 100%;
    margin: 0 0 15px 0;
  }

  &__ask {
    margin: 0 0 15px 0;
  }
}