@import '../../assets/scss/vars';

.user{
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  height: 150px;
  border-radius: 10px;
  border: 1px solid $defaultColor;
  &.active{
    border: 2px solid red;
  }
}