@import "../../assets/scss/vars";

.header {
  width: 100%;
  background-color: #2B3245;

  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    height: 80px;
  }

  &__buttons {
    justify-self: right;
  }

  &__link {
    color: $whiteColor;

    &:visited {
      color: $whiteColor;
    }

    &_registration{
      margin: 0 15px 0 0;
    }
  }
}