@import "../../assets/scss/vars";

.header{
  width: 100%;
  background-color: #2B3245;
  &__body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 80px;
  }
  &__buttons{
    justify-self: right;
  }
  &__link{
    color: white;
    &:visited{
      color: $whiteColor;
    }
  }
}