@import "../../../assets/scss/vars";

.button {
  border: none;
  width: min-content;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: $lightColor;
  transition: color, background-color ease .3s;

  &:hover {
    background-color: $primaryColor;
    color: white;
    transition: color, background-color ease .3s;
  }

  &:disabled {
    background-color: $lightColor;
    opacity: 0.4;
  }
}