@import "../../assets/scss/vars";

.navbar{
  width: 100%;
  height: 60px;
  background-color: $whiteColor;
  &__body{
    height: 60px;
    display: flex;
    align-items: center;
  }
  &__link{
    text-decoration: none;
    color: $defaultColor;
    &:visited{
      color: $defaultColor;
    }
    &:focus{
      outline: none;
    }
    &:hover{
      color: red;
    }
    &.active{
      color: red;
    }
  }
}